<div>
  <div class="title">
    <editable-title #editableTitle [title]="title" (titleChanged)="onTitleChanged($event)"></editable-title>
    <button (click)="editableTitle.enableEditMode()">Edit</button>
  </div>
  <div class="container">
    <div class="side-panel">
      <ul>
        <li *ngFor="let resource of resources">{{resource}}</li>
      </ul>
    </div>
    <div class="content">
      content
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


